@charset "UTF-8";
/**
 * OOP theme theme for reveal.js
 * Based on Blood theme by Walther (https://github.com/Walther)
 * Author: Alexander Bazo (https://github.com/alexanderbazo)
 *
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FAFAFA;
  background-color: #FAFAFA; }

.reveal {
  font-family: Ubuntu, "sans-serif";
  font-size: 32px;
  font-weight: normal;
  color: #333; }

::selection {
  color: #FAFAFA;
  background: #9c004b;
  text-shadow: none; }

::-moz-selection {
  color: #FAFAFA;
  background: #9c004b;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #9c004b;
  font-family: Ubuntu, "sans-serif";
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  text-align: center; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold;
  color: rgb(30,30,30); }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: square; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

  .reveal ul li {
  margin-bottom: 0.25em;
 }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  width: 100%;
  border-width: 0;
  text-align: left;
  border-style: none;
  box-shadow: none;
  font-style: italic;
  color: rgb(90,90,90); }

.reveal blockquote p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
  text-justify: inter-character;
}

.reveal blockquote + p {
  width: 75%;
  margin-left: 25%;
  text-align: right;
  font-size: 0.75em;
  color: rgb(156,0,75);
}

.reveal blockquote + p:before {
  content: "Quelle: ";
  color: rgb(90,90,90);
}

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.75em;
  font-family: Ubuntu Mono, "monospace";
  line-height: 1.15em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: Ubuntu Mono, "monospace";
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 600px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #9c004b;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ff037c;
  text-shadow: none;
  text-decoration: underline;
  border: none; }

.reveal a:after {
  content: "\1F517";
  font-size: 0.75em;
  margin-left: 0.25em;
}

.reveal .roll span:after {
  color: #fff;
  background: #500026; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  max-height: 50vh;
  width: auto;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #9c004b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * CUSTOM ELEMENTS
 *********************************************/

.reveal .subtitle {
  display: block;
  font-weight: 600;
  text-align: center;
}

.reveal .blocktext {
  display: block;
  text-align: left;
  font-size: 0.85em;
  line-height: 1.5em;
}

.reveal .blocktext.center {
  text-align: center;
}

.reveal .blocktext.larger {
  font-size: 1em;
  line-height: 1.75em;
}

.reveal .blocktext.smaller {
  font-size: 0.75em;
  line-height: 1.25em;
}

.reveal .hint {
  display: block;
  width: 96%;
  padding: 2%;
  margin-top: 2.5%;
  background-color: rgb(240,240,240);
  border: solid 1px rgb(200,200,200);
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: left;
}

.reveal .hint.smaller {
  font-size: 0.65em;
  line-height: 1.15em;
}

.reveal .hint:before {
  content: "Hinweis: ";
  color: rgb(156,0,75);
  font-weight: 600;
}

.reveal table {
  font-size: 0.8em;
}

.reveal table thead {
  background-color: rgb(156,0,75);
  color: #FFF;
}

.reveal .sources {
  display: block;
  margin-bottom: 0.75em;
  text-align: left;
  font-size: 0.75em;
  line-height: 1em;
}

.reveal .sources p {
  margin-bottom: 1em;
}

.reveal .board {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  justify-content: center;
} 

.reveal .board .box {  
  display: block;
  height: 50px;
  width: 50px;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 1.5px;
}

.reveal .label {
  display: inline-block;
  margin: 0 1vh;
  padding: 1vh;
  border-radius: 0.25vh;
  font-size: 0.75em;
  color: #FFF;
}

.reveal .lecture {
    background-color: #e52521;
}

.reveal .tutorial {
    background-color: #43b047;
}

.reveal .lab {
    background-color: #fbd000;
}

.reveal .exam {
    background-color: #000;
}

.reveal .study {
    background-color: #049cd8;
}

.reveal .lecture-plan {
  font-size: 0.75em;
}

.reveal .lecture-plan td:first-child {
  font-weight: 600;
  text-align: right;
  vertical-align: middle;
}

.reveal .lecture-plan span {
  display: inline-block;
  margin: 0.5vh;
  padding: 1vh;
  background-color: rgb(200,200,200);
  font-size: 0.75em;
  color: #FFF;
}

.reveal .lecture-plan span.done {
  background-color: #43b047;
}

.reveal .lecture-plan span.current {
  background-color: #049cd8;
}

.reveal .diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal .diagram .box-with-label {
  display: block;
  margin: 0.25em;
  flex-basis: 30%;
  min-height: 200px;
  background-color: #FAFAFA;
  font-size: 0.75em;
  border: solid 2px rgb(156,0,75);
}

.reveal .diagram .box-with-label .box-label {
  display: block;
  padding: 0.25em;
  background-color: rgb(156,0,75);
  color: #FFF;
  font-weight: 600;
}

.reveal .diagram .box-with-label .content {
  display: block;
  padding: 0.25em;
}

.reveal img[alt=user-image] {
  width: 18%;
  height: auto;
  margin: 0.5%;
  border-radius: 50%;
  border: solid 5px #F8F8F8;
}

.reveal img[alt=screenshot] {
  width: 70%;
}

.reveal img[alt=left-side] {
  margin-left: 0;
  width: 40%;
  height: auto;
}

.reveal img[alt=list-image] {
  margin: 0;
  width: 10%;
  height: auto;
  border-radius: 50%;
  border: solid 5px #F8F8F8;
}

.reveal img[alt=large-image] {
  margin: 0 auto;
  height: 80%;
  width: auto;
}

.reveal img[alt=small-image] {
  margin: 0 auto;
  height: 40%;
  width: auto;
}

.reveal img[alt=sequence] {
  width: 125px;
  height: 125px;
  margin: 10px;
  outline: 2px #333 solid;
}

.reveal img[alt=sequence-larger] {
  width: 200px;
  height: 200px;
  margin: 10px;
  outline: 2px #333 solid;
}

.reveal img[alt=sequence-start] {
  width: 125px;
  height: 125px;
  margin: 10px;
  outline: 1px #333 solid;
  border: 5px #999 solid;
}

.reveal img[alt=sequence-end] {
  width: 125px;
  height: 125px;
  margin: 10px;
  outline: 1px #333 solid;
  border: 5px rgb(156,0,75) solid;
}

.reveal .image-description {
  display: block;
  float: right;
  width: 55%;
  margin-left: 5%;
  padding: 0;
  text-align: left;
  font-size: 0.75em;
  line-height: 1.5em;
}

.reveal .image-list-description {
  display: block;
  float: right;
  width: 80%;
  margin-left: 1%;
  padding: 0;
  text-align: left;
  font-size: 0.75em;
  line-height: 1.5em;
}

.reveal .clear-all {
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #9c004b; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #9c004b; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #FAFAFA; } }

section {
  margin-top: 1em; }

.slides:before {
  display: block;
  width: 100%;
  height: 1px;
  content: "Alexander Bazo | Lehrstuhl für Medieninformatik";
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #8e8e8e;
  padding-top: 2px;
  background: linear-gradient(to right, #8e8e8e 50%, #9c004b 50%);
  overflow: visible; }

.slides:after {
  display: block;
  width: 100%;
  content: "";
  height: 40px;
  background-image: url(img/ur-logo-grau.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 40px;
  overflow: visible; }

iframe {
  width: 50vw;
  height: 25vh; }

.reveal iframe + p {
  margin: 0 auto;
  padding-top: 0.5em;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #333;
  text-align: right;
  font-size: 0.4em; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700; }

.reveal h1 {
  margin-top: 2em; }

.reveal p code {
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }
